<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">   
    |<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">home</a></li> 
            <li><a href="{{ url_for('contact') }}">Contact</a></li> 
            <li><a href="{{ url_for('saludo', name='pablo') }}">Saludo</a></li> 
            <li><a href="{{ url_for('drinks') }}">drinks</a></li> 
            {% if user %}
            <li><a href="#">logout</a></li>
            {% else %}
            <li><a href="#">login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
     <p> </p>

    {% endblock content %}
    
    <footer>
        <p></p>
    </footer>
    
</body>
</html>